# Default ignored files
/shelf/
/workspace.xml
out
# Datasource local storage ignored files
/../../../../../../:\Users\Jmsar\IdeaProjects\Asteriods\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
