# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Jmsar\IdeaProjects\Asteriods\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Properly ignores everything found in the "out"-folder. Wherever it may be, may be.
\*/out/
